.cms-post-meta{
	font-size: $meta-font-size;
	font-family: $meta-font-family;
	color: $meta-font-color;
	font-weight: $meta-font-weight;
	position: relative;
	&:before,
	&:after{
		content: '';
		height: 2px;
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	&:before{
		right: 0;
		background-color: $grey8-02-color;
	}
	&:after{
		width: 30%;
		background-color: $secondary-color;
		[dir="rtl"] &{
			left: auto;
			right: 0;
		}
	}
	&.loop:before{
		right: auto;
		width: 100%;
	}
	a{
		color: $meta-font-color;
		&:hover{
			color: $meta-font-color-hover;
		}
	}
	.cms-post-meta-inner{
		> *:not(:first-child) {
			&:before{
				content: '';
				width: 4px;
				height: 4px;
				display: inline-block;
				background-color: $meta-font-color;
				margin-right: 5px;
				@include border-radius(50%);
				position: relative;
	    		@include transform(translateY(-50%));
				[dir="rtl"] &{
					margin-right: 0;
					margin-left:15px;
				}
				@media(max-width: 350px){
					display: none;
				}
			}
		}
	}
	.meta-icon{
		color: $primary-color;
	}
}
// post meta style 
.cms-post-meta-2 {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
	align-items: center;
	> span{
		flex: 0 0 auto;
		padding: 0 5px;
	}
}
// meta category style
.cms-category-style-2{
	overflow: hidden;
	.cms-category-list{
		display: flex;
		flex-wrap: wrap;
		margin: -2px;
		>a{
			flex: 0 0 auto;
			margin: 2px;
		}
	}
	a{
		background-color: $accent-color;
		color: $white;
		padding: 5px 10px;
		@include border-radius(4px);
		&:hover{
			background-color: $secondary-color;
			color: $primary-color;
		}
	}
}
// Meta Author style 
.cms-author-style-2{
	.meta-icon{
		background: #f3f4f7;
	    border-radius: 50%;
	    color: $primary-color;
	    display: inline-block;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
	    font-size: 12px;
	}
}