.cms-post-content,
.comment-text{
	ul:not(class),
	ol:not(class){
		list-style-position: inside;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 0;
		+ h2{
			margin-top: 20px;
		}
		li{
			padding: 2px 0;
		}
		ul, ol{
			padding-left: 15px;
			[dir="rtl"] &{
				padding-left: 0;
				padding-right: 15px;
			}
		}
	}
}
.post-password-form{
	input[name="post_password"]{
		margin-bottom: 20px;
	}
}