.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
// Captions
//--------------------------------------------------

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;

    img[class*="wp-image-"] {
        @include center-block;
    }

    .wp-caption-text {
        padding: 0.8075em 0;
        font-size: 0.875em;
        font-style: italic;
    }
}

.wp-caption-text {
    text-align: center;
}

// Gallery
//--------------------------------------------------

.gallery {
    margin: -2.5px;
    display: flex;
    flex-wrap: wrap;
    .gallery-item {
        text-align: center;
        padding: 2.5px;
        margin: 0;
        flex: 0 0 100%;
        max-width: 100%;
        img.attachment-thumbnail{
            width: 100%;
        }
    }
}
.gallery-caption {
    display: block;
}
.gallery-columns-2{
    .gallery-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.gallery-columns-3{
    .gallery-item{
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
}
.gallery-columns-4{
    .gallery-item{
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.gallery-columns-5{
    .gallery-item{
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.gallery-columns-6{
    .gallery-item{
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
}
.gallery-columns-7{
    .gallery-item{
        flex: 0 0 14.28571428571429%;
        max-width: 14.28571428571429%;
    }
}
.gallery-columns-8{
    .gallery-item{
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}
.gallery-columns-9{
    .gallery-item{
        flex: 0 0 11.11111111111111%;
        max-width: 11.11111111111111%;
    }
}