.cms-countdown-layout-1{
	.time-item-inner{
		min-width: 100px;
	}
	.inner-number{
		font-size: 30px;
		font-weight: 700;
		font-family: var(--heading-font-family);
	}
	.inner-text{
		font-size: 17px;
	}
}