.elementor-custom-embed-image-overlay .elementor-custom-embed-play i{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 65px;
    width: 65px;
    text-align: center;
    line-height: 65px;
    background-color: #ffffff;
    color: #333333;
    z-index: 1;
    font-size: 20px;
    padding-left: 5px;
    display: block;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
    -ms-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
    -o-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
    text-shadow: none;
    @include opacity(1);
    &:before{
        @include font-awesome("\f04b",900);
    }
}

.elementor-custom-embed-image-overlay .elementor-custom-embed-play, 
.elementor-custom-embed-image-overlay .elementor-custom-embed-play:before, 
.elementor-custom-embed-image-overlay .elementor-custom-embed-play:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 65px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
    -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
    -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
    -webkit-animation: ripple 3s infinite;
    -moz-animation: ripple 3s infinite;
    -ms-animation: ripple 3s infinite;
    -o-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}
.elementor-custom-embed-image-overlay .elementor-custom-embed-play:before {
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    -ms-animation-delay: .9s;
    -o-animation-delay: .9s;
    animation-delay: .9s;
    content: "";
    position: absolute;
}

.elementor-custom-embed-image-overlay .elementor-custom-embed-play:after {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
    content: "";
    position: absolute;
}
