.cms-heading-layout2{
	&:after{
		content: '';
		display: block;
		width: 100px;
		height: 3px;
		background-color: $secondary_color;
		margin-top: 25px;
	}
	&.text-center:after{
		margin-left: auto;
		margin-right: auto;
	}
	&.text-right:after{
		margin-left: calc(100% - 100px);
		margin-right: 0;
	}
}