/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Grid
# Class
# Forms
# Button
# Header
# Main Menu
# Page Title & Breadcrumb
# Post and Page
# Navigation
# Layout Content
# Widgets
# Media
# Singlular
# Comments
# Footer
# VC Elements
/**
 * Custom Boostrap Grid breakpoint
 * Need add it before load boostrap grid
*/
@import "theme-options";

$grid-breakpoints: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1700px
) !default;

$container-max-widths: (
  xs: 480px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;

$grid-gutter-width: 30px;
$grid-gutters: $grid-gutter-width;

/* Media break point */
$desktop-screen: 1200px;
$screen-sm-min: 576px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1600px;

// boostrap
@import '_bootstrap/bootstrap-grid';
@import 'boostrap_theme';
// gutenberg
@import "_gutenberg/gutenberg";
/*--------------------------------------------------------------*/
@import "functions";
@import "mixins";
// Typography
@import "typo/typo";
// utilities
@import "utilities/utilities";
// libs
@import "_libs/masonry";
@import "_libs/slick_slider";
@import "_libs/slick_slider_theme";
// layout
@import "layout";
// Header
@import "header/header";
// Page title
@import "page-title/page-title";
// Blog 
@import "blog/blog.scss";
// widget
@import "widgets/widgets";
// sidebar
@import "sidebar";
// Footer
@import "footer/footer";
// Elementor
@import "elementor/elementor";
// Visual Composer
@import "vc/vc";
// WooCommerce
@import "woo/woo";
// Extensions
@import "extensions/extensions";
// Extensions
@import "variation-configs";
// Loading
@import "loading";
.container{
  max-width: 1200px;
}