.widget_search .cms-widget-content{
	padding-top: 10px;
	padding-bottom: 30px;
}

#search-2.widget_search {
	.cms-widget-title{ 
		display: none;
	}
	.cms-widget-content{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}