.widget_tag_cloud{
	.cms-widget-content{
		padding-top: 10px;
		padding-bottom: 30px;
	}
}


$tagcloud_space: 10px;
.tagcloud{
	display: flex;
	flex-wrap: wrap;
	margin: $tagcloud_space / -2;
	> a{
		flex: 0 0 auto;
		max-width: 100%;
		margin: $tagcloud_space /2;
		padding: 3px 21px 5px;
		border: 1px solid var(--accent-color);
		background: var(--accent-color);
		color:  $white-color;
		font-size: 86.667% ;
		@include border-radius(17px);
		&:hover{
			border-color: var(--secondary-color);
			background: var(--secondary-color);
			color: var(--primary-color);
		}
	}
}
