ul, ol{
	&.unstyled{
		list-style: none;
		margin: 0;
		padding: 0;
		ul, ol{
			list-style: none;
			padding: 0 0 0 15px;
			[dir="rtl"] &{
				padding: 0 15px 0 0;
			}
		}	
	}
	&.horizontal{
		display: flex;
		flex-wrap: wrap;
		margin: -5px;
		> li{
			padding: 5px;
			flex: 0 0 auto;
			width: auto;
			max-width: 100%;
		}
	}
}
.cms-list{
	padding: 0;
	margin: 0;
	list-style: none;
	ul, ol{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li{
		position: relative;
		&:before{
			color: $accent_color;
			margin-right: 7px;
		}
	}
	// outline
	&.cms-list-outline{
		li{
			font-weight: 600;
			color: $primary_color;
			&:before{
				content: '';
				display: inline-block;
				width: 11px;
				height: 11px;
				background-color: $accent_color;
				border: 2px solid $white;
				padding: 7px 0;
				@include border-radius(50%);
				@include box-shadow(0px 0px 0px 1px $accent_color);
			}
		}
	}
	// Carret
	&.cms-list-carret{
		li{
			font-weight: inherit;
			color: inherit;
			&:before{
				padding-top: 2px;
				@include font-zmdi('', 17px);
			}
		}
	}
	// Checked circke
	&.cms-list-checked-circle{
		color: $primary_color;
		margin: -2px 0;
		li{
			padding: 2px 0;
			&:before{
				padding-top: 2px;
				color: var(--accent-color);
				@include font-zmdi('', 13px);
			}
		}
	}
	// Multi Columns
	&.cms-list-col-2{
		@media(min-width: $screen-md-min){
			display: flex;
			flex-wrap: wrap;
			li{
				flex: 0 0 50%;
				max-width: 50%;

			}
		}
	}
}
