body { 
  color: $body-font-color;
  font-size: $body-font-size;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  letter-spacing: $body-letter-spacing;
  text-align: start;
  background: $body-bg;
}
@import "nomalize";
@import "fonts";
@import "heading";
@import "list";
@import "table";
@import "forms";
@import "tags";
@import "text";
@import "unit_test";